@model GOES.LICITACIONES

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que quiere eliminarla?</h3>
<div>
    <h4>LICITACIONES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LICITACION_NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LICITACION_NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LICITACION_ANIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LICITACION_ANIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LICITACION_INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LICITACION_INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LICITACION_FINALIZACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LICITACION_FINALIZACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LICITACION_DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LICITACION_DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayName("RESPONSABLE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLICITUDES.SOLICITUD_RESPONSABLE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR" class="btn btn-default" /> |
            @Html.ActionLink("REGRESAR", "Index")
        </div>
    }
</div>
