@model GOES.PROVEEDORES

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que quiere eliminarlo?</h3>
<div>
    <h4>PROVEEDORES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("NOMBRE DE EMPRESA")
        </dt>      

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR_EMPRESA)
        </dd>

        <dt>
           @Html.DisplayName("CONTACTO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR_CONTACTO)
        </dd>

        <dt>
            @Html.DisplayName("TELEFONO 1")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR_TELEFONO1)
        </dd>

        <dt>
            @Html.DisplayName("TELEFONO 2")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR_TELEFONO2)
        </dd>

        <dt>
            @Html.DisplayName("CORREO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR_CORREO)
        </dd>

        <dt>
            @Html.DisplayName("NIT")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR_NIT)
        </dd>

        <dt>
            @Html.DisplayName("DESCRIPCION")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR_DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayName("DIRECCION")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR_DIRECCION)
        </dd>

        <dt>
            @Html.DisplayName("MUNICIPIO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUNICIPIOS.MUNICIPIO_NOMBRE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("REGRESAR", "Index")
        </div>
    }
</div>
